<!DOCTYPE html>
<html>
  <title>{% block title %}Time2Run{% endblock %}</title>
<head>
  <!-- Nav Bar Spanning across the length of top of screen -->
  <div id="nav-bar-left">
    <nav class="nav">
      <a class="navbar-font" aria-current="page" style="color:darkblue;" href="#"></a>
      <a class="nav-link" style="color:darkblue;" href="/homepage">Homepage</a>
      <a class="nav-link" style="color:darkblue;" href="/profile">Profile</a>
      <a class="nav-link" style="color:darkblue;" href="/record_run">Record Run</a>
      <a class="nav-link" style="color:darkblue;" href="/view_stats">View Stats</a>
      <a class="nav-link" style="color:darkblue;" href="/logout">Logout</a>
    </nav>
  <div>               
</head>
<body>{% block body %} {% endblock %}
<div>
    <!-- Show flashed messages -->
    {% with messages = get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
        <p></p>
        <div class="message_flash">{{ message }}</div>
        {% endfor %}
    {% endwith %}
</div>
</body>
</html>