<!DOCTYPE html>
{% extends 'base.html' %}
{% block head %}Homepage{% endblock %}

{% block body %}
<head>

  

  <!-- Load Bootstrap -->
    <!-- CSS only -->

  
  <!-- Bootstrap Icons Here-->
 

  <!-- Load stylesheets -->

</head>

<body>
    {% if 'email' in session %}
      <h1>{{'Welcome Back!'}} {{session['username']}}</h1>
            <ul>{% for item in user.activities %}</ul>
            Activity Name: {{item.activity_name}}</li>
              <li>Distance: {{item.distance}} miles</li>
              <li>Time In Mins: {{item.time_in_min}} minutes</li>
              <li>Date of Activity: {{item.date_of_activity.strftime('%a, %B %d, %Y')}}</li>
              <p></p>
      {% endfor %}
    {% endif %}
    
  <div>
  </div>
 <!-- Nav Bar Spanning across the length of top of screen -->
 {% endblock %}

<!-- Homepage Dashboard -->
<div>
  
</div>    

</body>

</html>