<!DOCTYPE html>
{% extends 'base.html'%}
{% block head %}
   
{% endblock %}

{% block body %}
<head>


  <!-- Load Bootstrap -->
    <!-- CSS only -->

  
  <!-- Bootstrap Icons Here-->
 

  <!-- Load stylesheets -->

</head>

<body>
    {% if 'email' in session %}
      <h3>{{'Welcome Back!'}} {{session['username']}}</h3>
            <ul>{% for item in values %}</ul>
              <li>Distance:{{item.distance}}</li>
              <li>Duration:{{item.duration}}</li>
              <li>Time In Mins:{{item.time_in_mins}}</li>
              <li>Date of Activity:{{item.date_of_activity}}</li>
              <p></p>
      {% endfor %}
    {% endif %}
  <div>
  </div>
 <!-- Nav Bar Spanning across the length of top of screen -->
 {% endblock %}



<!-- Homepage Dashboard -->
<div>
</div>    

</body>

</html>