<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block body %} 
<h1>Time2Run</h1> 
    <form action="/user_login" method="POST">
        <p>
          Email <input type="text" placeholder="your-email@here" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required name="email">
        </p><p>
          Password <input id="password" type="password" placeholder="●●●●●●●●●" required name="password">
          <input type="checkbox" onclick="showPassword()">Show Password
        </p>
        <button type="submit">Login</button>
    </form>
    <p></p>
    <form action="/registration">
        <button type="submit">Create Account</button>
    </form>
</div>


<script src="/static/js/login_show_password.js"></script>

{% endblock %}