<!DOCTYPE html>
{% extends 'base.html' %}


{% block body %} 
<h1>Time2Run</h1> 
    <div>
        <h3>Track Your Running Activity</h3>
    </div>
    <form action="/user_login" method="POST">
        <p>
          Email <input type="text" name="email">
        </p><p>
          Password <input type="password" name="password">
        </p>
        <button type="submit">Login</button>
    </form>
<div id="login">
    <!-- <form action="/homepage"> -->
        <!-- <button type="submit">Login</button> -->
    <!-- </form> -->
    <p></p>
    <form action="/registration">
        <button type="submit">Create Account</button>
    </form>
</div>
{% endblock %}