<!DOCTYPE html>
{% extends 'base.html' %}
{% block title%}Create Account{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/style.css" />
{% endblock head %}

 {% block body %}
    <div class="new-user-form" style="color:rgb(255, 255, 255);">
        <form id="create-account" action="/new_user" method="POST">
            <p></p>
            <input id="fname" type="First Name" placeholder="FIRST NAME" required name="fname">
            <p></p>
            <input id="lname" type="Last Name" placeholder="LAST NAME" required name="lname">
            <p></p>
            <input id="email" type="Email" placeholder="EMAIL" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required name="email">
            <p></p>
            <input id="username" type="Username" placeholder="USERNAME" required name="username">
            <p></p>
            <input id="password" type="Password" placeholder="PASSWORD" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{9,}" required name="password">
            <input type="checkbox" onclick="viewPassword()"><em>Show Password</em>
            <p></p>
            <div id="validation">
                <small><em>● Password must contain one number
                <br>● One uppercase and one lowercase letter 
                <br>● At least 9 or more characters in length</em></small>
            </div>
            <p></p>
            <button class="btn btn-outline-secondary" type="submit">Create My Account</button>
        </form>
        <p></p>
        <form action="/" class="inline">
            <button class="btn btn-outline-secondary" type="submit"> Back to Login</button>
        </form>
    </div>

    <body>
    <script src="/static/js/show_password.js"></script>
    </body>

{% endblock %}