<!DOCTYPE html>
{% extends 'base.html' %}
{% block title%}Create Account{% endblock %}

 {% block body %}
    <div class="container-fluid">
        <form id="create-account" action="/new_user" method="POST">
            <p></p>
            First Name  <input id="fname" type="First Name" placeholder="Jane" required name="fname">
            <p></p>
            Last Name  <input id="lname" type="Last Name" placeholder="Doe" required name="lname">
            <p></p>
            Email  <input id="email" type="Email" placeholder="Janedoe@hello.com" required name="email">
            <p></p>
            Username <input id="username" type="Username" placeholder="callmejane" required name="username">
            <p></p>
            Password  <input id="password" type="Password" placeholder="●●●●●●●●●" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{9,}" required name="password">
                      <input type="checkbox" onclick="viewPassword()">Show Password
            <div>
                <small><em>● Password must contain one number
                <br>● One uppercase and one lowercase letter 
                <br>● At least 9 or more characters in length</em></small>
            </div>
            <p></p>
            <button class="btn btn-outline-secondary" type="submit">Create My Account</button>
        </form>
        <p></p>
        <form action="/" class="inline">
            <button class="float-left submit-button" type="submit"> Back to Login</button>
        </form>
    </div>



    <body>
    <script>
        function viewPassword() {
            var pw = document.getElementById("password");
            if (pw.type === "password") {
            pw.type = "text";
            }
        }
    </script>
    </body>

{% endblock %}