<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block body %}
<div>
   <h1>Profile Page</h1>

<head>

<!-- <div class="container user-profile">
   <form method="post">
       <div class="row">
           <div class="col-md-4">
               <div class="profile-img">
                   <img src="" alt=""/>
                   <div class="file btn btn-lg btn-primary">
                       Change Photo
                       <input type="file" name="file"/>
                   </div>
               </div>
           </div>
       </div>
   </form>           
</div> -->

</head>

<h4>First Name: {{user.fname}} </h4>
<h4>Last Name: {{user.lname}} </h4>
<h4>Username: {{user.username}} </h4>
<div>
<h4>Password:
        {% for letter in user.password %}
            *
        {% endfor %}</h4>      
</div>
<h4>Date of Birth  <input id="dob" type="date" placeholder="mm/dd/yyy" min="01-01-1900" max="today" name="dob"></h4>


    
<body>
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; 
    var yyyy = today.getFullYear();
    
    if (dd < 10) {
       dd = '0' + dd;
    }
    if (mm < 10) {
       mm = '0' + mm;
    }    
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("dob").setAttribute("max", today);
</script>
</body>


{% endblock %}