<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block body %}
<div>
   <h1>Profile Page</h1>

<h4>First Name: {{user.fname}} </h4>
<h4>Last Name: {{user.lname}} </h4>
<h4>Username: {{user.username}} </h4>
<div>
<h4>Password:
    {% for letter in user.password %}
        *
    {% endfor %}</h4>
</div>
<h4>Date of Birth: 
    {% if user.date_of_birth == None: %}
        Please update!
        <form id="profile" action="/profile" method="POST">
            <p>Date of Birth  <input id="date_of_birth" type="date" placeholder="mm/dd/yyy" min="01-01-1900" max="today" required name="date_of_birth"></p>
            <br>
            <div>
        </form>
        <input class="btn btn-light" type="submit" value="Save Edits" required name="edit" id="save">
    {% else %}
        {{user.date_of_birth.strftime('%B, %d %Y')}} 
    {% endif %}</h4>




    
    <!-- <input class="btn btn-light" type="submit" value="Change Password" name="pw" id="password"> -->
</div>
</br>
</div>


    
<body>
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; 
    var yyyy = today.getFullYear();
    
    if (dd < 10) {
       dd = '0' + dd;
    }
    if (mm < 10) {
       mm = '0' + mm;
    }    
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("dob").setAttribute("max", today);
</script>
</body>


{% endblock %}