<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block js %}
{% endblock %}

{% block body %}
<form action="/run_activity" method="POST">

    <div class="record" id="record">
    <H1><label><strong>Record Your Run</strong></label></H1>
    </div>

    <div class="activity name" id="activity name">
        <label for="activity name">Activity Intensity</label>
        <select name="activity name" id="activity name">
            <option value="">Select an Option Below</option>
            <option value="Light">Fast Walk</option>
            <option value="medium">Light Jog</option>
            <option value="hard">Run</option>
            <option value="Extreme">Sprint</option>
        </select>
    <!-- </div> -->
    <p></p>
    <p></p>
   
    <!-- <div class="duration" id="duration"> -->
        <label for="duration">Duration in Mins</label>
        <input type="number" name="time in mins" step="1">
    <p></p>
    <p></p>
    <!-- <div class="distance" id="distance"> -->
            <label for="distance">Distance in Miles</label>
            <input type="number" name="distance" step="0.1">
        </select>
        <p></p>
        <p></p>
        <label for="date of activity"></label>
            <option value="">Enter Activity Date</option>
            <input type="date" name="date of activity">
    <!-- </div> -->
    <p></p>
    <!-- <div>
        <form id="submit-run" action="/run_activity" method="POST"></form> -->
            <input type="submit" value="Submit" 
                    style="background-color: rgb(108, 160, 59); 
                        color: white" />
            <!-- <input type="reset" value="Reset" 
                     style="background-color: red; 
                        color: white" /> -->
        <p></p>
    </div>
    </form>
{% endblock %}
